/**
* Resets
*/

html,body,div,h1,h5,h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/**
* Main
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html {
	font-size:62.5%;
	}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
	box-sizing: border-box;
	font-size:10px;
}

/* --------------------------------- */
/* Typography */

h1 {
	font-size: 2.8rem;
	font-weight: 300;
}

h5 {
	font-weight: 500;
	line-height: 1.7rem;
}

h6 {
	color: #666;
	font-size: 1.4rem;
}

/* --------------------------------- */
/* Product Layout */

/* Small Mobile Design */

.product-filter,
.products {
	display: grid;
    justify-content: center;
	justify-content: space-between;
    margin: auto;
	max-width: 90%;
}

.product-filter {
	padding: 3rem 0;
	grid-template-columns: 1fr;
}

.product-filter__title {
	margin-bottom: 2rem;
}

.product-sort {
	display: flex;
}

.product-sort__collection {
	display: flex;
	flex-direction: column;
}

.product-sort__collection:first-child {
	padding-right: 2rem;
}

.product-sort__label {
	color: #666;
	font-size: 1rem;
	font-weight: 500;
	line-height: 2rem;
	text-transform: uppercase;
}

.products {
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr) );
}

.product-card {
	padding: 2rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
.product-card:hover {
	opacity: 0.8;
	transition: all e0.5s;
	cursor: pointer;
}

.product-image img {
	max-width: 100%;
	width: 100%;
}

.product-info {
	margin-top: auto;
	padding-top: 2rem;
	text-align: center;
}

/* --------------------------------- */
/* Media Queries */
/**
* Breakpoints
* Small Mobile: 0 - 479px
* Large Mobile: 480px - 599px
* Medium: 600px - 919px
* Large: 920px - ...
*/

/* Large Mobile Design */

@media screen and (min-width: 480px) {
	.product-filter {
		grid-template-columns: 1fr auto;
	}

}

/* Medium Design */

@media screen and (min-width: 600px) {
	.products {
		grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr) );
	}

}

/* Large Design */

@media screen and (min-width: 920px) {
	.products,
	.product-filter {
		max-width: 83rem;
	}

	.products {
		grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr) );
	}

}